<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3 ">
<head>
    <meta charset="UTF-8">
    <title>Admin-page</title>
    <link rel="stylesheet" th:href="@{/css/private/admin-page.css}"/>

</head>
<body>
<header id="header">
    <h1>Admin</h1>
    <hr>
</header>
<div left-side>

</div>
<div right-side>


</div>

<section brand_names>
    <table border="1" cellpadding="8" cellspacing="0">
        <p>brand_names table</p>
        <tr>
            <th>Name</th>
            <th>Full name</th>
        </tr>
    </table>
    <form action="" method="get">

    </form>
    <hr>
</section>
<section cities>
    <p>cities table</p>
    <table border="1" cellpadding="8" cellspacing="0">
        <tr>
            <th>Name</th>
        </tr>
    </table>
    <hr>
</section>
<section city_indexes>
    <p>city indexes table</p>
    <table border="1" cellpadding="8" cellspacing="0">
        <tr>
            <th>Index</th>
        </tr>
    </table>
    <hr>
</section>
<section countries>
    <p>countries table</p>
    <table border="1" cellpadding="8" cellspacing="0">
        <tr>
            <th>name</th>
            <th>manufacturer_country_code</th>
            <th>country_code_alpha_3</th>
            <th>country_code_number</th>
        </tr>
    </table>
    <hr>
</section>
<section employees>
    <p>employees table</p>
    <table border="1" cellpadding="8" cellspacing="0">
        <tr>
            <th>name</th>
            <th>surname</th>
            <th>username</th>
            <th>password</th>
            <th>enabled</th>
            <th>ERole</th>
            <th>email</th>
            <th>pharmacy</th>
        </tr>
    </table>
    <hr>
</section>
<section LLC>
    <p>LLC table</p>
    <table border="1" cellpadding="8" cellspacing="0">
        <tr>
            <th>name</th>
            <th>full name</th>
            <th>brand name</th>
            <th>address</th>
        </tr>
    </table>
    <hr>
</section>

<footer id="footer">
    <hr>
    <h2>F O O T E R</h2>
    <hr>
</footer>
</body>
</html>