<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">


<head>
    <title>brand-page-sa</title>
    <!--    <link rel="stylesheet" th:href="@{/css/private/admin-page.css}"/>-->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">

</head>
<body>

<div class="container mt-2">
    <div th:replace="fragments/superadminmodels :: header"/>

    <div class="row p-3 mb-5 bg-warning text-dark border border-danger">

        <div class="col-6 col-sm-3 bg-secondary align-self-start">
            <ul>
                <li class="nav-item">
                    <a class="nav-link" aria-current="page" href="/userList">
                        <button type="button " class="btn btn-success">Address</button>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" aria-current="page" href="/brand-name">
                        <button type="button" class="btn btn-success">Brand name</button>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" aria-current="page" href="#">
                        <button type="button" class="btn btn-success">City</button>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" aria-current="page" href="#">
                        <button type="button" class="btn btn-success">City index</button>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" aria-current="page" href="#">
                        <button type="button" class="btn btn-success">Country</button>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" aria-current="page" href="#">
                        <button type="button" class="btn btn-success">Employee</button>
                    </a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" aria-current="page" href="#">
                        <button type="button" class="btn btn-success">Employee</button>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" aria-current="page" href="#">
                        <button type="button" class="btn btn-success">LLC</button>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" aria-current="page" href="#">
                        <button type="button" class="btn btn-success">Order</button>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" aria-current="page" href="#">
                        <button type="button" class="btn btn-success">Outlet clasification</button>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" aria-current="page" href="#">
                        <button type="button" class="btn btn-success">Product</button>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" aria-current="page" href="#">
                        <button type="button" class="btn btn-success">Role</button>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" aria-current="page" href="#">
                        <button type="button" class="btn btn-success">Sale outlet</button>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" aria-current="page" href="#">
                        <button type="button" class="btn btn-success">Street namber</button>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" aria-current="page" href="#">
                        <button type="button" class="btn btn-success">Street</button>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" aria-current="page" href="#">
                        <button type="button" class="btn btn-success">Unit</button>
                    </a>

                <li class="nav-item">
                    <a class="nav-link" aria-current="page" href="#">
                        <button type="button" class="btn btn-success">Commodity specialization</button>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" aria-current="page" href="#">
                        <button type="button" class="btn btn-success">*****</button>
                    </a>
                </li>
            </ul>
        </div>

        <div th:switch="${brandNames}" class="col-sm mt-3">
            <h2 th:case="null">No Brand names found!</h2>
            <table border="1" class="table table-striped table-responsive-md">
                <thead>
                <tr>
                    <th>Id</th>
                    <th>Name</th>
                    <th>Full name</th>
                    <th>update</th>
                    <th>delete</th>
                    <th><a class="nav-link" aria-current="page" href="/brand-name-form">
                        <button type="button" class="btn btn-success">create</button>
                    </a></th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="brandName : ${brandNames}">
                    <td th:text="${brandName.id}"></td>
                    <td th:text="${brandName.name}"></td>
                    <td th:text="${brandName.fullName}"></td>
                </tr>
                </tbody>
        </div>
    </div>


</div>
<div th:replace="fragments/superadminmodels :: footer"/>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW"
        crossorigin="anonymous"></script>

</body>
</html>